h3 {
    color: blueviolet;
    border: 3px solid black;
    box-shadow: 5px 5px 0px 0px darkorchid;
    padding: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}

h2 {
    color: black;
    border: 3px solid burlywood;
    padding: 10px;
    margin-right: 60%;
}

ul {
    color: peachpuff;
}

body {
    background-color: 80aaff;
}

body {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

h1 {
    border-width: 3px;
    border-style: dashed;
    border-color: black;
    border-radius: 20px;
    box-shadow: 5px 5px 0px 5px orange;
    padding: 10px;

}

div {
    border-width: 4px;
    border-color: lavender;
    border-style: dotted;
    margin: 10px;
    padding: 15px;
    margin-right: 40%;
}

img {
    border: 4px solid black;
    margin: 10px;
}

p {
    border: 2px solid palegreen;
    padding: 10px;
    margin: 10px;
}

#pages {
margin: 9px;
border: 5px inset lightblue;
}

#otherpages {
margin-right: 80%;
}

#colors {
    background-color: darkslategray;
    border: 3px solid black;
    padding: 10px;
    margin: 10px;
}

#questions {
    border: 2px solid palegreen;
    padding: 10px;
    margin: 10px;
}

#states {
    margin-right: 65%;
    border: 5px dashed firebrick;
}

.states {
    font-style: oblique;
}

#puzzle {
    margin-right: 75%;
    border: 19px dotted firebrick;
}

#questiontitle {
    margin-right: 65%;
    border: 10px ridge firebrick;
}

#movies {
    margin-right: 67%;
    border: 10px double firebrick;
}

.movies {
    font-style: italic;
}

#foods {
    margin-right: 70%;
    border: 7px dotted firebrick;
}

.food {
    font-style: italic;
}

#websites {
    margin-right: 75%;
    border: 10px inset firebrick;
}

#colortitle {
    margin-right: 75%;
    border: 8px outset firebrick;

}



#comment {
    border: 10px inset goldenrod;
}

#games {
    font-style: bold;
}