h3 {
    color: blueviolet;
    border: 3px solid black;
    box-shadow: 5px 5px 0px 0px darkorchid;
    padding: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}

h2 {
    color: black;
    border: 3px solid burlywood;
    padding: 10px;
    margin-right: 60%;
}

ul {
    color: peachpuff;
}

body {
    background-color: 80aaff;
}

body {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

h1 {
    border-width: 3px;
    border-style: dashed;
    border-color: black;
    border-radius: 20px;
    box-shadow: 5px 5px 0px 5px orange;
    padding: 10px;

}

div {
    border-width: 4px;
    border-color: red;
    border-style: dotted;
    margin: 10px;
    padding: 15px;

}

img {
    border: 4px solid black;
    margin: 10px;
}

p {
    border: 2px solid palegreen;
    padding: 10px;
    margin: 10px;
}

#colors {
    background-color: darkslategray;
    border: 3px solid black;
    padding: 10px;
    margin: 10px;
}

#questions {
    border: 2px solid palegreen;
    padding: 10px;
    margin: 10px;
}

#states {
    margin-right: 65%;
}

#puzzle {
    margin-right: 75%;
}

#questiontitle {
    margin-right: 65%;
}

#movies {
    margin-right: 67%;
}

#foods {
    margin-right: 70%;
}

#websites {
    margin-right: 75%;
}

#colortitle {
    margin-right: 75%;

}