h3 {
    color: aqua;
}

h2 {
    color: aqua;
}

ul {
    color: peachpuff;
}

body {
    background-color: palevioletred;
}

body {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

h1 {
    border: 3px dashed black;
}

div {
    border: 4px dashed red;
}